*{
    margin: 0;
    padding: 0;
    font-family: Century Gothic;
}

header{
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(background.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
}

ul{
    float: right;
    list-style-type: none;
    margin: 25px;
}

ul li{
    display: inline-block;
}

ul li a{
    text-decoration: none;
    color: #fff;
    padding: 5px 20px;
    border:1px solid transparent;
     transition: 0.6s ease;
     font-family: 'Montserrat', sans-serif;
}

ul li a:hover{
    background-color: #fff;
    color:  #283834;
}

.logo img{
    float: left;
    width: 200px;
    height: auto;
}

.main{
    max-width: 1900px;
    margin: auto;
}

.naslov{
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.naslov h1{
    color: #fff;
    font-size: 40px;
    font-family: 'Montserrat', sans-serif;
}



.gumb{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.gmb{
    border: 1px solid transparent;
    padding: 10px 30px;
    font-size: 50px;
    color: #fff;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: 'Roboto', sans-serif;
}
 
body{
  background: url('bg.jpg') no-repeat top center;
  background-size: cover;
  height: 100vh;
}
 
.wrapper{
  position: absolute;
  top: 35%;
  transform: translateY(-50%);
  width: 100%;
  padding: 0 20px;
}
 
.contact-form{
  display: flex;
  max-width: 550px;
  margin: 0 auto;
  background: rgba(0,0,0,0.8);
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
}
 
.input-fields{
  display: flex;
  flex-direction: column;
  margin-right: 4%;
}
 
.input-fields,
.msg{
  width: 48%;
}
 
.input-fields .input,
.msg textarea{
  margin: 10px 0;
  background: transparent;
  border: 0px;
  border-bottom: 2px solid #c5ecfd;
  padding: 10px;
  color: #c5ecfd;
  width: 100%;
}
 
.msg textarea{
  height: 212px;
}
 
::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #c5ecfd;
}

 
.btn {
    background: #39b7dd;
    text-align: center;
    padding: 15px;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    text-transform: uppercase;
}
 
@media screen and (max-width: 600px){
  .contact-form{
    flex-direction: column;
  }
  .msg textarea{
    height: 80px;
  }
  .input-fields,
  .msg{
    width: 100%;
  }
}
